*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/*------------------------------------------------------------------------- Navigation Bar --------*/

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #191919;
    padding: 20px;
    align-items: end;
}

.nav .logo img{
     width: 155px;
    height: 30px;
}

.nav h5{
    color: white;
    text-align: right;
    font-weight: 400;
    padding: 10px 0px;
}

.nav .input-box{
    display: flex;
    align-items: center;
}

.nav input{
    width: 400px;
    height: 36px;
    outline: none;
    padding: 0px 10px;
    font-size: 17px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: none;
    border: none;
}

.nav .sbox{
    background-color: #FDC519;
    padding: 8px;
    color: white;
    margin-left: -5px;
    height: 36px;
    border-radius: 0px 5px 5px 0px;

}

.nav .sbox:hover{
    background-color: #DBA802;
    cursor: pointer; 
}


.bottom-nav{
    background-color: #222222;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bottom-nav a{
    width: 163;
    height: 34;
    background-color: #191919;
    border: 1px solid gray;
    text-decoration: none;
    color: wheat;
    padding: 12px 50px;
}

.bottom-nav a:hover{
    background-color: #F4F4F4;
    color: #191919;
}


/*------------------------------------------------------------------------- Hero Section --------*/


.hero{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.hero h1{
    font-size: 30px;
    padding: 30px 0px 25px 0px
}

.hero h5{
    color:grey;
    font-weight: 300;
    padding: 0px 0px 40px 0px;
}

.hero input{
    width: 500px;
    height: 45px;
    outline: none;
    padding: 0px 10px;
    font-size: 17px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: none;
    border: 1px solid rgb(197, 197, 197);
}

.hero button{
    background-color: #FDC519;
    padding: 8px 15px 8px 15px;
    color: white;
    margin-left: -5px;
    height: 45px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: #222222;
    font-weight: 700;
}

.hero button:hover{
    background-color: #DBA802;
    cursor: pointer; 
    border: n;
}


.hero .deals-but{
    width: 900px;
    height: 45px;
    color: green;
    background-color: rgba(60, 255, 60, 0.11);
    border: 1px solid green;
    margin: 50px 0px;
    font-size: 16px;
}

.hero .deals-but:hover{
    background-color: rgba(60, 255, 60, 0.11);
}

.hero .tg-but{
    background-color: rgb(0, 110, 255);
    color: white;
    border: 1px solid rgb(0, 110, 255);
    margin: 0px 0px;
    font-weight: 400;
}

.hero .tg-but:hover{
    background-color: rgb(0, 110, 255);
}

.bold-txt{
    font-weight: 900;
}